# .NET
bin/
obj/

# Bun
bun.lockb
node_modules/
src/backend/.vs/AspireForge.slnx/solutionOpened
src/backend/.vs/AspireForge.slnx/config/applicationhost.config
src/backend/.vs/AspireForge.slnx/FileContentIndex/6fdccdde-5c92-49a1-b798-048eabbcb3b6.vsidx
src/backend/.vs/AspireForge.slnx/DesignTimeBuild/.dtbcache.v2
src/backend/.vs/AspireForge.slnx/v18/.suo
src/backend/.vs/AspireForge.slnx/v18/DocumentLayout.backup.json
src/backend/.vs/AspireForge.slnx/v18/DocumentLayout.json
src/backend/AspireForge.ApiService/AspireForge.ApiService.csproj.user

# Claude 
.claude/
/.vs
/src/backend/.vs/AspireForge.slnx/FileContentIndex
src/backend/.vs/AspireForge/CopilotIndices/18.5.39068.60183/CodeChunks.db
src/backend/.vs/AspireForge/CopilotIndices/18.5.39068.60183/SemanticSymbols.db
src/backend/.vs/AspireForge.slnx/copilot-chat/9238793b/sessions/59aec788-89df-42b9-ae86-e8b1ea7cd9f8
src/backend/.vs/AspireForge.slnx/v18/.futdcache.v2
src/backend/.vs/ProjectEvaluation/aspireforge.strings.v10.bin
src/backend/.vs/ProjectEvaluation/aspireforge.projects.v10.bin
src/backend/.vs/ProjectEvaluation/aspireforge.metadata.v10.bin
